.encabezado{
    background-color: rgb(51, 51, 51);
    border-bottom: solid 5px rgb(133, 0, 27);
    color: white;
}
.botones{
    
    background-color: black;
}
.table{
    text-align: center;
    
}
.box{
    padding: 10px;
   
    background-color: white;
    border-color: rgb(179, 179, 179);
    border-width: 1px 1px 1px;
    border-style: solid ;
    border-radius: 5px;
    
}
